.logo{
   span{
       padding-left:10px;
       font-size:16px;
       vertical-align: middle;
       color:#2db7f5;
   }
}
.fr{
    float:right!important;
}
.ant-modal-title{
    text-align: center;
}
.ant-modal-close-x{
    font-size:22px;
}
.ant-btn{
    height:36px;
    padding:0 30px;
    margin-left:20px!important;
}