    footer {
        text-align: center;
        margin: 15px;
    }

    .logo {
        span {
            padding-left: 10px;
            font-size: 16px;
            vertical-align: middle;
            color: #2db7f5;
        }
        img {
            width: 48px;
            height: 48px;
        }
    }

    .fr {
        float: right!important;
    }

    .ant-modal {
        max-width: 400px;
    }

    .ant-modal-title {
        text-align: center;
    }

    .ant-modal-close-x {
        font-size: 22px;
    }

    .ant-btn {
        height: 36px;
        padding: 0 30px;
        margin-left: 20px!important;
    }

    @media (max-width:768px) {
        .ant-modal {
            margin: 0 auto;
        }
    }

    .username-btn {
        //此处block与inline-block有行为差异
        display: block;
        width: 56px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .prompt-registry {
        display: inline-block;
        font-style: italic;
        text-indent: 10px;
    }

    .footer-btn {
        padding-right: 14px;
        margin-bottom: 0px;
        text-align: right;
    }

    .container {
        padding-top: 10px;
        .container-content {
            //此处使用flex布局有一个bug未解决：第一次切换tab时宽度发生变化
            // display: flex;
            // flex-flow: row;
            clear: both;
            overflow: hidden;
            .news-list-wrapper {
                float: left;
                width: 100%;
                .news-list {
                    margin: 0 360px 0 480px;
                    padding-top: 10px;
                    .ant-tabs-bar {
                        margin-bottom: -1px;
                    }
                    .ant-tabs-nav-wrap {
                        border: solid 1px #eee;
                    }
                    ul {
                        list-style: none;
                        li {
                            height: 27px;
                            line-height: 27px;
                            font-size: 14px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            a {
                                color: #666;
                            }
                        }
                    }
                }
            }
            .left {
                width: 440px;
                float: left;
                margin-left: -100%;
                padding-top: 10px;
                .carousel {
                    width: 440px;
                    height: 230px;
                    img {
                        width: 440px;
                        height: 218px
                    }
                }
            }
            .right {
                width: 320px;
                float: left;
                margin-left: -320px;
                padding-top: 10px;
                .cpc {
                    width: 320px;
                    border: 1px solid #f5f5f5;
                    height: 650px;
                    h2 {
                        height: 50px;
                        background: url('../static/image/p6.jpg') no-repeat 10px 10px #e70012;
                        width: 100%;
                        font-family: 'Microsoft YaHei';
                        font-size: 24px;
                        font-weight: normal;
                        line-height: 50px;
                        text-indent: 2em;
                        a {
                            color: #fff;
                        }
                    }
                    .list14 {
                        width: 90%;
                        margin: 15px auto 0 auto;
                        list-style: none;
                        li {
                            display: inline-block;
                            font-family: 'SimSun';
                            font-size: 14px;
                            padding: 0px 0 10px 0;
                            height: 25px;
                            line-height: 25px;
                            overflow: hidden;
                            .xian {
                                margin: 0 5px;
                                color: #ccc;
                            }
                        }
                    }
                    .cpc_zt {
                        width: 90%;
                        margin: 0 auto;
                        line-height: 200%;
                        text-align: left;
                        a {
                            font-size: 12px;
                        }
                        img {
                            float: left;
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
    }

    .news-detail {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .empty-news {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .comment-card {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .comment-form {
        padding-top: 10px;
        .ant-form-item-label {
            margin-bottom: 10px;
        }
    }

    .comment-btn {
        text-align: left;
    }