
*{
   margin:0;
   padding:0;
}

.clearfix:before{
    content: '';
    clear:both;
}
.clearfix:after{
    content: '';
    /* height: 0;
    display: block;
    visibility: hidden; */
    clear: both;
}

    
